<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.security.board.dao.BoardLikeDao">
    <insert id="insertLike">
        INSERT INTO security_board_like VALUES (
        seq_security_board_like.nextval,
        #{boardNo},
        #{userId},
        sysdate
        )
    </insert>
    <delete id="deleteLike">
        DELETE FROM security_board_like
        WHERE board_no = #{boardNo} AND user_id = #{userId}
    </delete>
    <select id="likeCount" parameterType="int" resultType="int">
        SELECT count(*) AS count FROM security_board_like WHERE board_no = #{no}
    </select>
    <select id="existLike" resultType="int">
        SELECT COUNT(*) FROM security_board_like
        WHERE BOARD_NO = #{boardNo} AND USER_ID = #{userId}
    </select>
</mapper>