<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.security.member.dao.MemberDao">
    <insert id="signup" parameterType="SignupDto">
        INSERT INTO security_member values(seq_sequrity_member.nextval,
        #{userId},
        #{userPw},
        #{userName},
        'ROLE_USER',
        sysdate
        )
    </insert>
    <select id="findByUserId" parameterType="String">
        SELECT * FROM security_member
        WHERE user_id = #{userId}
    </select>
</mapper>

