<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>오늘의 할 일</h1>
<ul>
    <li th:each="item:${todoList}">
        <span th:text="${item.no}">1</span>
        <span th:text="${item.content}">점심먹기</span>
        <span th:text="${item.complete}">N</span>
        <form action="/complete" method="post">
            <input type="hidden" name="index" th:value="${item.no}">
            <button>완료</button>
        </form>
        <form action="/delete" method="post">
            <input type="hidden" name="index" th:value="${item.no}">
            <button>삭제</button>
        </form>

    </li>
</ul>
<div>
    <form action="/write" method="post">
        <div><input type="text" placeholder="할 일을 입력하세요." name="todo"></div>
        <div><button>해야할 일</button></div>
    </form>
</div>
</body>
</html>