<!doctype html>
<html lang="ko" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카카오 이미지 검색</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-base-200 min-h-screen">
<div class="w-[1280px] mx-auto py-10">
    <h1 class="text-4xl font-bold text-center mb-8">이미지 검색</h1>

    <div class="flex gap-3 mb-8">
        <input
                type="text"
                id="search-word"
                placeholder="검색할 이미지를 입력하세요"
                class="input input-bordered flex-1"
        />

        <button id="btn-search" class="btn btn-primary">검색</button>
    </div>

    <ul id="image-list" class="grid grid-cols-6 gap-4"></ul>
</div>

<script>
    const searchWord = document.querySelector("#search-word");
    const btnSearch = document.querySelector("#btn-search");

    searchWord.addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
            searchImage(searchWord.value);
        }
    });

    btnSearch.addEventListener("click", function () {
        searchImage(searchWord.value);
    });

    async function searchImage(keyword) {
        const response = await fetch(
            `https://dapi.kakao.com/v2/search/image?query=${encodeURIComponent(keyword)}`,
            {
                method: "GET",
                headers: {
                    Authorization: "KakaoAK c2b6828b16439b8dd302446432809501",
                },
            },
        );

        const data = await response.json();

        const imageList = document.querySelector("#image-list");
        imageList.innerHTML = "";

        data.documents.forEach(function (item) {
            const li = document.createElement("li");

            li.innerHTML = `
                <div class="overflow-hidden rounded-lg shadow hover:shadow-xl transition-all bg-white">
                    <img
                        src="${item.image_url}"
                        alt=""
                        class="w-full h-40 object-cover hover:scale-110 transition duration-300"
                    >
                </div>
            `;

            imageList.appendChild(li);
        });
    }
</script>
</body>
</html>
