<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- HEADER -->
<header class="navbar bg-base-100 shadow-md px-6" th:fragment="my-header">

    <!-- 왼쪽 : 로고 -->
    <div class="flex-1">
        <a href="/" class="text-3xl font-bold text-primary">
            JJANG'S MEDIA LAB
        </a>
    </div>

    <!-- 오른쪽 : 메뉴 -->
    <div class="flex-none flex items-center gap-2">

        <a href="/" class="btn btn-ghost">
            홈
        </a>

        <a href="/board/list" class="btn btn-ghost">
            게시판
        </a>

        <!-- 로그인 전 -->
        <div th:if="${session.loggedMemberDto == null}" class="flex gap-2">
            <a href="/member/signup" class="btn btn-outline btn-primary">
                회원가입
            </a>

            <a href="/member/login" class="btn btn-primary">
                로그인
            </a>
        </div>

        <!-- 로그인 후 -->
        <div th:if="${session.loggedMemberDto != null}" class="flex items-center gap-2">
            <!--
            <a href="/member/info"
               class="btn btn-ghost"
               th:text="${session.loggedMemberDto.userName}">
                장성호
            </a>
            -->
            <a href="/member/info">
                <img th:src="@{/upload/{file}(file=${session.loggedMemberDto.profile})}">
            </a>

            <a href="/member/logout"
               class="btn btn-error text-white">
                로그아웃
            </a>
        </div>

    </div>

</header>


</body>
</html>