<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extra/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thymeleaf Index</h1>
<th:block sec:authorize="isAnonymous()">
    <a href="/member/login">로그인</a>
    <a href="/member/signup">회원가입</a>
</th:block>

<th:block sec:authorize="isAuthenticated()">
    <a href="/member/info"
       th:text="${#authentication.principal.memberDto.userName}">로그인</a>
    <a href="/member/logout"
       >로그아웃</a>

</th:block>
</body>
</html>