<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="min-h-screen bg-base-200 flex flex-col">

<th:block th:replace="~{fragments/header :: header}"></th:block>

<main class="flex-1 max-w-5xl mx-auto w-full px-4 py-10">

    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">

            <h1 class="text-3xl font-bold mb-6"
                th:text="${boardDto.title}">
                게시글 제목
            </h1>

            <div class="grid md:grid-cols-3 gap-4 mb-6 border-b pb-5">

                <div>
                    <span class="font-semibold">작성자</span><br>
                    <span th:text="${boardDto.author}">홍길동</span>
                </div>

                <div>
                    <span class="font-semibold">조회수</span><br>
                    <span th:text="${boardDto.hit}">0</span>
                </div>

                <div>
                    <span class="font-semibold">작성일</span><br>
                    <span th:text="${#temporals.format(boardDto.regDate,'yyyy-MM-dd HH:mm')}">
                        2026-06-25 10:00
                    </span>
                </div>

            </div>

            <div class="prose max-w-none min-h-[350px]"
                 th:utext="${boardDto.content}">
                게시글 내용
            </div>

            <!-- 좋아요 -->
            <div class="divider"></div>

            <div class="flex justify-center">
                <button id="likeBtn"
                        class="btn btn-outline btn-error gap-2"
                        data-like = "hello"
                        data-link = "http://www.daum.bet"
                        th:data-no="${boardDto.no}">
                    ❤️ <span id="like-text" th:text="${liked} ?'싫어요':'좋아요'">좋아요</span>
                    <span class="badge badge-error"
                          id="likeCount"
                          th:text="${likeCount}"
                    >
                        0
                    </span>
                </button>
            </div>

        </div>
    </div>

    <div class="flex justify-between mt-8">

        <a th:href="@{/board/list}"
           class="btn btn-outline">
            목록
        </a>

        <div class="flex gap-2">

            <a th:href="@{/board/modify(no=${boardDto.no})}"
               class="btn btn-warning">
                수정
            </a>

            <form th:action="@{/board/delete}"
                  method="post">

                <input type="hidden"
                       name="no"
                       th:value="${boardDto.no}">

                <button class="btn btn-error"
                        type="submit"
                        onclick="return confirm('삭제하시겠습니까?')">
                    삭제
                </button>

            </form>

        </div>

    </div>

</main>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>
<script>
    //id class이름 - 를 많이 쓴다.  like-text
    //const boardNo =  ${boardDto.content}
    const btnLike =  document.querySelector("#likeBtn");
    const likeCount =  document.querySelector("#likeCount");
    const likeText =  document.querySelector("#like-text");
    btnLike.addEventListener("click",async (e)=>{
        const no = btnLike.dataset.no;
        const response = await fetch("/board/like",{
            method:"POST",
            headers: {
                "Content-type":"application/x-www-form-urlencoded"
            },
            body:"no="+no
        })
        const result = await response.json();
        if(result.message==="success") {
            likeCount.textContent =  result.likeCount;
            console.log(result.liked);
            if(result.liked) {
                likeText.textContent="좋아요 취소";
            } else {
                likeText.textContent="좋아요";
            }
            //alert("좋아요 성공");
        }

    })
</script>


</body>
</html>