<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.mybatis.member.dao.MemberDao">
    <select id="findAll" resultType="MemberDto">
        SELECT * FROM NEW_MEMBER
    </select>
    <insert id="signup" parameterType="MemberDto">
        INSERT INTO NEW_MEMBER values(member_seq.nextval,
            #{userId},
            #{userName},
            #{userPw},
            #{email},
            #{phone},
            #{address},
            #{zipcode},
            #{detailAddress},
            #{profile},
            #{thumbnailProfile},
            #{regDate}
        )
    </insert>
    <select id="login" resultType="MemberDto" parameterType="LoginDto">
        SELECT * FROM NEW_MEMBER WHERE user_id = #{userId} AND user_pw = #{userPw}
    </select>
    <select id="idCheck" resultType="Integer" parameterType="String">
        SELECT COUNT(*) FROM NEW_MEMBER WHERE user_id = #{userId}
    </select>
    <delete id="deleteMember" parameterType="LoginDto">
        DELETE FROM NEW_MEMBER WHERE user_id = #{userId} AND user_pw = #{userPw}
    </delete>
</mapper>

